body {
  margin: 0px;
  text-align: center;
  font-family: verdana, sans-serif;
}

h1 {
  
}
h2 {
  margin-top: 10;
  font-weight :bolder;
}

.profile {
  padding-top: 50px;
}


div {
  background-color: skyblue;
}

.top-container {
  background-color: #E4F9F5;
  position:relative;
  padding-top: 100px;
}

.middle-container{
  
}

.bottom-container {

}

.top-cloud {
  position: absolute;
  right: 100px;
  top: 50px;
}

.bottom-cloud {
  position:absolute;
}

.skill-row {
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.java {
  width: 40%;
  float: left;
  margin-right: 30px;
}

.c {
  width: 40%;
  float: right;
  margin-right: 30px;
}

.python {
  width: 40%;
  float: left;
  margin-right: 30px;
}